@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nabla&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Madimi+One&family=Nabla&family=Roboto+Slab:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slant-section {
    background-color: #3498db;
    padding: 10px 0;
    color: rgb(179, 171, 171);
    transform: skewY(-6deg);
    margin-top: -600px;
    
  }
  
  .slant-section {
    transform: skewY(-10deg);
  }

 
  .float {
    transform: skewY(10deg);
   
  }

  .float {
    margin-top: 650px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    gap: 2px;

  }

  .about-me {
    
    color: black;
    background-color: white;
    width: 60%;
    height: 490px;
    margin-left: -4px;
    margin: auto 16px;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .profile-photo {
    width: 40%;
    height: 100%;
  }

  #profile {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  }

  .inner-kk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }



  #my-work {
    margin-top: 200px;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
    font-size: 4.375em;
    opacity: 0;
    animation: work 2s forwards;
    animation-delay: 2s;
    position: relative;
    padding-bottom: 5px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  

  }
  h1#my-work::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: linear-gradient(to right, red, blue);
  }

  
  @keyframes work {
    to {
      opacity: 1;
    }
  }
  .gradient {
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(to right, rgb(231, 17, 17), rgb(0, 8, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
 
  .all-divs {
    border-radius: 10px 10px 0px 0px;
    width: 400px;
    height: 500px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    transition: 0.5s;
  }
  .all-divs:hover {
   transform: scale(1.05);
   transition: 0.5s;
   /* a pale grey color to appear on top*/
    background-color: #b5d129;
    

  }
  .buttom-div {
    background-color: white;
    height: 130px;
    
  }
  .middle {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
   
  }

  .middle-2 {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 40px;

  }

  .top-div {
    height: 70%;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
  }

  footer {
    height: 50vh;
    background-color: rgb(60, 60, 87);
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 440px;
    align-items: center;
  }
  .contact-me {
    text-align: center;
   box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    background-color: rgb(157, 142, 123);
   height: 250px;
   margin-left: 20px;
   width: 700px;
   margin-top: 45px;
   

  }
    .contact-me h1 {
        color: white;
        margin-top: -50px;
        font-size: 40px;
        font-family: "Nabla", system-ui;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
          "EDPT" 100,
          "EHLT" 12;

      /* a shadow at the buttom */
      text-shadow: 2px 2px 5px rgb(0, 0, 0);

    }
    .contact-me p {
        color: white;
        font-size: 25px;
        font-family: poppins;
        width: 50%;
        
   
    }

    .top-div {
      display: flex;
      justify-content: center;
      
    }
    h2 {
      margin-top: 0px;
      padding-top: 15px;
      text-align: center;
    }

    .buttom-div {
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
    }
    #type-effect {
      font-size: 35px;
      padding-inline: 10px;
      font-family: poppins;
    }
    .profile {
      font-size: 35px;
      font-family: poppins;
    }
    .profile {
      opacity: 0;
      animation: reveal 2s forwards;
      animation-delay: 11s; /* Delay the animation until the span effect is done */
    }
    
    @keyframes reveal {
      to {
        opacity: 1;
      }
    }
    .gradient {
      font-size: 35px;
      font-weight: 700;
      background: linear-gradient(to right, rgb(231, 17, 17), rgb(0, 8, 255));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
   .buttom-div > h2 {
      font-size: 35px;
      font-family: poppins;
    opacity: 0.85;
   }

   .right-footer {
    margin-right: 20px;
   }
