* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0C0F30;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  /* copilot */
  background-image: linear-gradient(to bottom right, #000033, #000066);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
                    
.main {
  width: 90vw;
  margin: auto auto;
}
.top {
  width: 90vw;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 120px;
}
.left {
  float: left;
  margin-right: 20px;
}
.right {
  float: right;
  display: flex;
  gap: 40px;
 
}
.right h4 {
  color: #ffffff;
}
.left h3 {
  color: #16F2B3;
  font-weight: 600;
}


.mother1 {
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
}
.hello {
  color: #ffffff;
  font-size: 50px;
  line-height: 48px;
  width: 40%;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;

}
.top-3-dots {
  border-bottom: 1px solid #16f2b3;
  margin-inline: -10px;
  gap: 10px;
  display: flex;
  padding-left: 20px;
  
}
.all-3{
  width: 15px;
  height: 15px;
  background-color: #ff1f75;
  border-radius: 50%;
  margin-top: -40px;
}
#orange {
  background-color:orange;
}
#green {
  background-color: #16f2b3;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
.socials {
  width: 1em;
}
.contact {
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #16f2b3;
  font-family: "PT Serif", serif;
  font-weight: 800;
  font-size: 20px;
  font-style: normal;
 height: 50px;

}
.contact:hover {
  background-color: #ff1f75;
}
.last-contact {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.left h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
.right h4 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
.img {
  margin-right: 30px;
  margin-left: 30px;
  animation: heartbeat 2s infinite;
}
.img img {
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);

}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.02);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.02);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}







/* Media Queries */

@media screen and (max-width: 768px) {
  .main {
    width: 100vw;

  }
  .top {
    width: 100vw;
    display: block;
  }
  .mother1 {
    flex-direction: column;
    align-items: center;
  }
  .hello {
    width: 80%;
    font-size: 30px;
    line-height: 28px;
  }
  .top-3-dots {
    display: none;
  }
  .social-media {
    flex-direction: row;
    align-items: center;
  }
  .last-contact {
    flex-direction: column;
    align-items: center;
  }
  .right {
    display: none;
  
  }
  .right h4 {
    text-align: center;
  }
  .img {
    width: 80%;
    margin: 35px auto;

  }
  .left h3{
    font-size: 30px;
    margin-left: 5em;
  
  }
}